@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  background: #030303;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}